##############################
# komodo project files

*.kpf

#######################################
# bower_components cleanup
#  -- check in bower.json/package.json plus *.js
#     try to ignore readmes, licenses, source, etc.

bower_components/*/src
bower_components/*/.editorconfig
bower_components/*/.gitignore
bower_components/*/component.json
bower_components/*/LICENSE
bower_components/*/MIT-LICENSE.txt
bower_components/*/README.md
bower_components/*/.bower.json

# note: keep package.json (old version of bower.json)

