<!DOCTYPE html>
<html>
<head>
  <meta charset='UTF-8'>
  <title>Matchday Example / sport.db JSON(P) API</title>
  
  <script src='js/3rd/jquery-2.0.2.min.js'></script>
  <script src='js/3rd/underscore-1.4.4.min.js'></script>
  
  <script src='js/jquery.football.js'></script>

  <style>
    
    a {
      color: black;
      text-decoration: none;
    }
    
    #widget, #widget2 {
       /* background-color: lime; */
       border: 1px solid green;
       padding: 4px;
    }
  </style>
  
  <script type='text/template' id='widgetTpl'>
<h3>
 <%= data.event.title %>
   -
 <%= data.round.title %>
</h3>
 
<table>
 <% _.each( data.games, function( game, index ) { %>
   <tr>
     <td>
      <%= game.play_at %>
     </td>
     <td style='text-align: right;'> 
       <%= game.team1_title %> (<%= game.team1_code %>)
     </td>

     <td>
      <% if( game.score1 != null && game.score2 != null ) { %>
        <% if( game.score1ot != null && game.score2ot != null ) { %>
          <% if ( game.score1p != null && game.score2p != null ) { %>
             <%= game.score1p %> - <%= game.score2p %> iE /
          <% } %>
          <%= game.score1ot %> - <%= game.score2ot %> nV /
        <% } %>
        <%= game.score1 %> - <%= game.score2 %>
      <% } else { %>
        - 
      <% } %>
     </td>
     <td>
      <%= game.team2_title %> (<%= game.team2_code %>)
     </td>
   </tr>
  <% }); %>
</table>
</script>

  <script>
    $(document).ready( function() {
      // NB: sportdb_widget make it global var (that is, we do NOT use var sportdb_widget)
   
      sportdb_widget = sportdb_widget_new( '#widget', { tplId: '#widgetTpl' } );
      sportdb_widget.update( 'euro.2012', '1' );  

      sportdb_widget2 = sportdb_widget_new( '#widget2' );
      sportdb_widget2.update( 'de.2012_13', '1' );
      
      // $( '#widgetjq' ).football();
    });
  </script>

</head>
<body>


<h1>Matchday Example / sport.db JSON(P) API</h1>

<p>
   <a href="#" onclick="sportdb_widget.update( 'euro.2012', '1' ); return false;">1</a> |
   <a href="#" onclick="sportdb_widget.update( 'euro.2012', '2' ); return false;">2</a> |
   <a href="#" onclick="sportdb_widget.update( 'euro.2012', '3' ); return false;">3</a> |
   <a href="#" onclick="sportdb_widget.update( 'euro.2012', '4' ); return false;">4</a> |
   <a href="#" onclick="sportdb_widget.update( 'euro.2012', '5' ); return false;">5</a> |
   <a href="#" onclick="sportdb_widget.update( 'euro.2012', '6' ); return false;">6</a>
</p>

<div id='widget'></div>

<!-- try another widget -->

<p>
   <a href="#" onclick="sportdb_widget2.update( 'de.2012_13', '1' ); return false;">1</a> |
   <a href="#" onclick="sportdb_widget2.update( 'de.2012_13', '2' ); return false;">2</a> |
   <a href="#" onclick="sportdb_widget2.update( 'de.2012_13', '3' ); return false;">3</a> |
   <a href="#" onclick="sportdb_widget2.update( 'de.2012_13', '4' ); return false;">4</a> |
   <a href="#" onclick="sportdb_widget2.update( 'de.2012_13', '5' ); return false;">5</a> |
   <a href="#" onclick="sportdb_widget2.update( 'de.2012_13', '6' ); return false;">6</a>
</p>

<div id='widget2'></div>

<!-- try another widget -->

<div id='widgetjq'></div>

</body>
</html>
